{% extends 'index.html' %}

{% block top_div %}
    <script src="https://use.fontawesome.com/ef1bcaa27d.js"></script>
    <div class="col-12">
        <h1 class="text-white col-12">{{ aliment.product_name }}</h1>
        <br>
        <hr class="divider">
    </div>
    <div class="col-6">
        <img src="/static/images/nutriscore-{{ aliment.nutrition_grades }}.png">
    </div>
    <div class="col-6">
        {% if aliment.stores %}
            <h3><b>Où l'acheter:</b> {{ aliment.stores }}</h3>
        {% else %}
            <h3><b>Nous n'avons pas pû trouver de magasin vendant ce produit</b></h3>
        {% endif %}
    </div>
    <a href="{{ aliment.url }}" class="btn btn-primary btn-lg" target="_blank">Voir la fiche d'OpenFoodFacts</a>
{% endblock %}