{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>

                    <form id="search_aliments">
                        <input type="text" class="col-6 ml-auto mr-auto mb-1 form-control inline-block" placeholder="Recherchez un produit ici">
                        <input type="submit" value="Rechercher" class=" btn btn-primary btn-md align-middle inline-block">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Colette et Remy-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Colette et Remy</h2>
            <hr class="divider my-4" />
            <div class="row align-items-center justify-content-center">
                <div class="col-4 text-center">
                    <img class="img-fluid" src="{% static "images/ratatouille-portrait.jpg" %}">
                    <div class="text-justify">
                        <p><strong>Remy</strong> : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img class="img-fluid" src="{% static "images/colette-tatou-full.png" %}">
                    <div class="text-justify">
                        <p><strong>Colette Tatou</strong>: "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contactez nous!</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">Pour toutes questions, n'hésitez pas prendre contact avec nous</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>0123456789</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <a class="d-block" href="mailto:purbeurre@purbeurre.com">purbeurre@purbeurre.com</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}