{% extends 'base.html' %}

{% block body %}
    <header class="masthead">
        <div class="container h-100">
            <div class="align-items-center text-center" style="margin-top: 50px;">
                <h5 class="text-center text-white">Mentions légales</h5>
                <hr class="divider my-4">
                <div class="container">

                    <div class="col-lg-12 col-md-12 text-left">
                        <h4 class="text-light">Article 1</h4>
                        <h6 class="text-light">La connexion et la navigation sur le site Pur Beurre par l’Utilisateur
                            implique acceptation intégrale et sans réserve des présentes mentions légales. Ces dernières
                            sont accessibles sur le site à la rubrique « Mentions légales ». </h6>
                        <h4 class="text-light">Article 2</h4>
                        <h6 class="text-light">L'hébergeur du site purbeurre est la Société Heroku.</h6>
                        <h4 class="text-light">Article 3</h4>
                        <h6 class="text-light">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force
                            majeure, interruption programmée ou non et pouvant découler d’une nécessité de maintenance.
                            En cas de modification, interruption ou suspension des services le site
                            purbeurre ne saurait être tenu responsable. </h6>
                        <h4 class="text-light">Article 4</h4>
                        <h6 class="text-light">Le site assure à l'Utilisateur une collecte et un traitement
                            d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17
                            du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de la
                            loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
                            d'accès, de rectification, de suppression et d'opposition de ses données personnelles.
                            L'Utilisateur peut exercer ce droit par mail à l'adresse : purbeurre@purbeurre.com </h6>
                        <h4 class="text-light">Article 5</h4>
                        <h6 class="text-light">L’Utilisateur est informé que lors de ses visites sur le site, un cookie
                            peut s’installer automatiquement sur son logiciel de navigation. En naviguant sur le site,
                            il les accepte. Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais
                            sert à enregistrer des informations relatives à la navigation de celui-ci sur le site
                            Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres
                            figurant au sein de son logiciel de navigation. </h6>
                    </div>

                </div>
            </div>
        </div>
    </header>
{% endblock %}