{% extends 'index.html' %}

{% block top_div %}
    <script src="https://use.fontawesome.com/ef1bcaa27d.js"></script>

    {% if not substitutes %}
        <h1>Nous n'avons pas pu trouver de substituts sauvegardés dans votre compte</h1>
        {% else %}
        {% if page_object.has_previous %}
        <div class="position-absolute" style="left: 0">
            <a class="btn btn-primary" href="?page=1">&laquo; Début</a>
            <a class="btn btn-primary" href="?page={{ page_object.previous_page_number }}">Précédent</a>
        </div>
        {% endif %}
        {% for substitute in page_object %}
            <div class="col-3 text-center m-1 d-flex bg-gray border-primary aliment">
                <div class="text-center col-12" >
                    <img class="image d-block m-auto" src="{{ substitute.image_url }}">
                    <h6 class="d-block text-dark aliment_text">{{ substitute.product_name }}</h6>
                    <a href="{% url 'main:delete_substitute' substitute.id %}"><i class="fa fa-trash"></i> Supprimer</a>
                </div>
            </div>
        {% endfor %}
        {% if page_object.has_next %}
        <div class="position-absolute" style="right: 0">
            <a class="btn btn-primary" href="?page={{ page_object.next_page_number }}">Suivant</a>
            <a class="btn btn-primary" href="?page={{ page_object.paginator.num_pages }}">Fin &raquo;</a>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}